body {
    margin: auto;
    width: 960px;
    background-color: gainsboro;
}
img {
    margin:3px;
}
.nav-style {
    border: solid;
    height: 100px;
    background-color: whitesmoke;
    font-family: 'Molengo';
    font-weight: 700;
}
.div-style {
    width: 50%;
    height: 100%;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.a-style {
    position: relative;
    top: 35%;
    font-size: 25px;
}
.a-margin-left {
    margin-left: 50px;
}
p {
    text-align: justify;
    font-family: 'Lekton';
}
.p-relative {
    position: relative;
}
.gallery {
    margin: auto;
    width: 640px;
    border: solid;
    clear: both;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}
table {
    margin:auto;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    font-family: 'Molengo';
}
td {
    font-family: 'Lekton';
}
h1 {
    font-family: 'Molengo';
    font-weight: 500;
}
